<h1>List of article</h1>


<%=link_to "Create new article", new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% @articles.each do |a| %>

    <tr>
      <td><%= link_to a.title, article_path(a) %></td>
      <td><%= a.description %>
      </td>
      <td>      <%= link_to "Edit", edit_article_path(a) %>|
        <%= link_to "Delete", article_path(a), method: :delete , data: {confirm: "Are you sure"}%>
      </td>

    </tr>
  <% end %>
</table>
